body {
    background-color: #b9b8b8; /*muutsin värve */
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #5dada7; /* muutsin värve*/
    border-bottom: 2px solid #3498db;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    color: #777;
}